{{!< default}}


{{#author}}
<header class="page-header">
	<h1 class="page-title">{{name}}的文章集</h1>
	<span class="page-description">{{bio}}</span>			
</header>
{{/author}}


{{> "loop"}}

{{pagination}}
