{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="post entry">
    {{> "posts/feature"}}
    <header class="entry-header">
    <h1 class="entry-title">{{title}}</h1>
    <div class="entry-meta">
        {{> "entry-meta" }}
    </div>
    </header>
    <div class="entry-content">
				{{content}}
        {{> 'posts/btn'}}
    </div>
  </article>

{{/post}}

