{{!< default}} {{! Everything inside the #post tags pulls data from the post }} {{#post}} <article class="post entry ">

	{{> "posts/feature"}}
	<header class="entry-header">
		<h1 class="entry-title">{{title}}</h1>
		<div class="entry-meta">
			{{> "entry-meta" }}
		</div>
	</header>
	<div class="entry-content">
		{{content}}
		{{> 'posts/btn'}}
		<ul class="talks">
		</ul>
		<button class="talks-more" data-limit="10" data-offset="0" >加载更多</button>
	</div>
	</article>
	{{/post}}
	<script src="https://jsd.cdn.zzko.cn/npm//marked@4.3.0/lib/marked.umd.min.js"></script>
	<script src="https://jsd.cdn.zzko.cn/gh/Tokinx/lately@master/lately.min.js"></script>
	<script src="https://jsd.cdn.zzko.cn/npm/blueimp-tmpl@3.20.0/js/tmpl.min.js"></script>

	<script type="text/x-tmpl" id="tmpl-memos">
		{% for (var i=0; i<o.length; i++) { %}
		<li class="talk-timeline page-1">

			<div class="talk-container">
				<div class="talk-header">
					<div class="talk-avatar">
						<img  src="{{@site.logo}}" width="60" height="60" />
					</div>
					<div class="talk-name">来自 @1900 的Memos</div>
					<div class="talk-time date">{%= new Date(o[i].createdTs * 1000).toLocaleString() %}</div>
				</div>
				
				<div class="talk-content"> {%#  (o[i].content) %}</div>
				<div class="talk-footer">
					<div class="talk-btn-comment hint--bottom" data-memosid="{%# o[i].id %}" aria-label="立即评论">{{> "icons/ui/comment"}}</div>
					<div class="talk-btn-love hint--bottom umi_like_btn" aria-label="喜欢这条Memos">{{> "icons/ui/love"}}<span class="umi_like_num"></span></div>
					<div class="talk-btn-copy hint--bottom" aria-label="复制Memos">{{> "icons/ui/copy"}}</div>
					<div class="talk-btn-link hint--bottom" aria-label="打开单页">{{> "icons/ui/link"}}</div>
				</div>
				
			</div>
			<div class="talk-comments talk-comments-{%# o[i].id %} d-none"></div>
		</li>
		{% } %}
	</script>