.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@include button-transition;
	background: var(--primary-dark);
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	color: var(--button-text);
	@include font-family( $font__heading );
	font-size: $font__size-sm;
	font-weight: 700;
	line-height: $font__line-height-heading;
	outline: none;
	padding: ( $size__spacing-unit * .76 ) $size__spacing-unit;
	text-decoration: none;
	vertical-align: bottom;

	&:hover {
		opacity: .85;
		cursor: pointer;
		background-color: var(--primary-dark);;
	}

	&:visited {
		text-decoration: none;
	}

	&:focus {
		opacity: .85;
		outline: thin dotted;
		outline-offset: -4px;
	}
}
