a {

	@include link-transition;
	color: var(--primary);

	&:visited {
		color: var(--primary-dark)-visited;
	}

	&:hover,
	&:active {
		color: var(--primary-dark)-hover;
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
}
